$sideBarWidth: 240px;
$sideBareOffSet: $sideBarWidth;
$primary: #31dfbc;
$secondary: #1fb5a9;
$tertiary: #df314d;

.fullHeight {
  height: 100%;
}

.fullWidth {
  width: 100%;
}
.fullSize {
  @extend .fullWidth;
  @extend .fullHeight;
}
body,
html {
  @extend .fullHeight;
  overflow: hidden;
  font-family: helvetica;
  font-size: 16px;
  font-weight: 100;
}
a {
  text-decoration: none;
}

.container {
  position: relative;
  @extend .fullSize;
  left: 0;
  transition: left 0.4s ease-in-out;
}

.open-sidebar {
  left: $sideBareOffSet;
}

.swipe-area {
  position: absolute;
  width: 50px;
  left: 0;
  top: 0;
  @extend .fullHeight;
  background: #f3f3f3;
  z-index: 0;
}
#sidebar {
  position: absolute;
  background: $primary;
  left: $sideBareOffSet * -1;
  width: $sideBarWidth;
  @extend .fullHeight;

  ul {
    li {
      a {
        padding: 15px 20px;
        color: white;
        display: block;
        border-bottom: 1px solid darken($primary, 10%);
        transition: background 0.4s ease-in-out;
      }
      &:hover a {
        background: $secondary;
      }
    }
  }
}

.main-content {
  @extend .fullSize;
  padding: 10px;
  position: relative;
  #sidebar-toggle {
    background: $tertiary;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
    .bar {
      display: block;
      width: 18px;
      height: 2px;
      background-color: #fff;
      border-radius: 1px;
      & + .bar {
        margin-top: 3px;
      }
    }
  }
}
