.nav {
  background: $color-white;

  &__list {
    display: flex;
  }

  &__item {
    margin-left: 25px;

    a {
      color: $color-blue;
      font-size: 16px;
      text-shadow: $text-shadow;
    }

    &--active {
      a {
        color: darken($color-blue, 10%);
      }
    }
  }
}
