.mobile-menu {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transition: left 0.3s ease-in-out;
  display: none;
  z-index: 100;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.mobile-menu.open-sidebar {
  left: 240px;


  #sidebar-toggle {
    left: 250px;
  }
}

.sidebar-menu {
  background: $color-blue;
  position: absolute;
  width: 240px;
  height: 100%;
  left: -240px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-right: 3px solid $color-white;
  box-shadow: 3px 0px 14px rgba(0,0,0,.4);

  &__search {
    margin: 0 auto 20px;
    text-align: center
  }

  &__logo {
    background: $color-white;
    margin: 30px auto;
    text-align: center;
    padding: 10px 0;

    img {
      width: 100px;
    }
  }

  &__item {
    a {
      padding: 15px 20px;
      font-size: 16px;
      font-weight: 100;
      color: white;
      text-decoration: none;
      display: block;
      border-bottom: 1px solid $color-white;
      transition: background 0.3s ease-in-out;

      &:hover {
        background: $color-white;
        color: $color-blue;
      }

      &:first-child {
        border-top: 1px solid $color-white;
      }
    }
  }

  li {
    margin: 0;
  }
}

#sidebar-toggle {
  background: $color-blue-gradient;
  border-radius: 3px;
  display: block;
  padding: 10px 9px 8px;
  float: left;
  position: fixed;
  left: 8px;
  top: 14px;
  box-shadow: $box-shadow;

  &:hover {
    background: $color-blue-gradient-revert;
  }

  .bar {
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
  }
}
