.nav__menu {
  background: $color-white;

  &__list {
    display: flex;
  }

  &__item {
    margin-left: 25px;

    a {
      color: $color-blue;
      font-size: 16px;
      text-shadow: $text-shadow;
      padding-bottom: 3px;
    }

    a:hover {
      text-decoration: none;
      border-bottom: 1px solid;
    }

    &--active {
      a {
        color: $text-color;
      }

      a:hover {
        text-decoration: none;
        border-bottom: 0;
        cursor: default;
      }
    }

    @include media-breakpoint-down(md) {
      a {
        font-size: 12px;
      }
    }
  }
}

/**
 * Sliding swipe menu CSS
 */
nav {
  height: 100%;
  width: 280px;
  background-color: #0a4a3c;
  left: 0;
  top: 0;
  z-index: 2;
  position: fixed;
  overflow-y: auto;
  overflow-x: visible;
  transform: translate(-280px,0);
}
.ssm-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  display: none;
  z-index: 1;
}
