// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/* paddings, margins and width */
$i: 0;
@while $i < 51 {
  .mt#{$i} {
    margin-top: ($i*1px);
  }

  .mr#{$i} {
    margin-right: ($i*1px);
  }

  .mb#{$i} {
    margin-bottom: ($i*1px);
  }

  .ml#{$i} {
    margin-left: ($i*1px);
  }

  .pt#{$i} {
    padding-top: ($i*1px);
  }

  .pr#{$i} {
    padding-right: ($i*1px);
  }

  .pb#{$i} {
    padding-bottom: ($i*1px);
  }

  .pl#{$i} {
    padding-left: ($i*1px);
  }

  .w#{$i}p {
    width: ($i*1%);
  }

  $i: $i + 5;
}
