// Colors
$color-purple: #B938BA;
$color-blue: #20C0EF;
$color-dark-blue: #393AA1;

// Border
$border-color: #C8C8C8;

// Body-text
$text-color: #444;

// Animation
$transition: all .3s ease;

// Shadow
$box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);

// Font family
$font-default: 'Open Sans', Helvetica, Arial, sans-serif !default;

// Font size
$font-size: 14px;

// Container's maximum width
$max-width: 1030px !default;

