// Colors
$color-white: #fff;
$color-black: #000;
$clear: transparent;

// Border
$border-color: #ccc;

// Body-text
$text-color: #444;

// Animation
$transition: all .3s ease;

// Shadow
$box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);

// Font family
$font-default: 'Open Sans', Helvetica, Arial, sans-serif !default;

// Font size
$font-size: 14px;

// Container's maximum width
$max-width: 1280px !default;

