//---------------------------------------------------------
// Global UI Styling
//---------------------------------------------------------
body {
  fon-size: $font-size;
  color: $text-color;
  font-family: $font-default;
  transition: $transition;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: $color-white;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0 0 5px;
}
