@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  src:  url('/assets/FontAwesome.otf') format('otf'),
        url('/assets/fontawesome-webfont.eot') format('eot'),
        url('/assets/fontawesome-webfont.ttf') format('ttf'),
        url('/assets/fontawesome-webfont.woff') format('woff'),
        url('/assets/fontawesome-webfont.woff2') format('woff2');
}
