@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  src: url('/assets/fonts/OpenSansRegular.woff2') format('woff2'),
       url('/assets/fonts/OpenSansRegular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('/assets/fonts/OpenSansBold.woff2') format('woff2'),
       url('/assets/fonts/OpenSansBold.woff') format('woff');
}

