<section class="about-wrapper">
  <div class="about">
    <div class="container">
      <div class="row">

        <div class="col-3">
          <div class="about__item">
            <div class="about__info">
              <p>2010</p>
              <p>год основания</p>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="about__item">
            <div class="about__info">
              <p>8</p>
              <p>лет на рынке</p>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="about__item">
            <div class="about__info">
              <p>5</p>
              <p>линий по производству</p>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="about__item">
            <div class="about__info">
              <p>60 000 м2</p>
              <p>производственной площади</p>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="about__item">
            <div class="about__info">
              <p>369 000</p>
              <p>тонн годовая мощность</p>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="about__item">
            <div class="about__info">
              <p>400</p>
              <p>типоразмеров</p>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="about__item">
            <div class="about__info">
              <p>от 40 до 219</p>
              <p>диаметр производимых труб</p>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="about__item">
            <div class="about__info">
              <p>180</p>
              <p>сотрудников</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
