<section class="documents-wrapper home-page">

    <ul>
      <li>
        <a class='normal' href="/assets/files/test-file-download.txt" download>
          <div class="document">
            <div class="document__item document__item--1 active">
              <h3 class="document__title">Труба электросварная круглая</h3>
              <div class="document__desc">
                <p>ГОСТ 10704-91</p>
                <p>ГОСТ 10705-80</p>
                <p>ГОСТ 20295-85</p>
              </div>
            </div>
          </div>
        </a>
        <div class='info'>
          <img src="/assets/img/icons/PDF.png" alt="">
          <p>Скачать  каталог продукции</p>
        </div>
      </li>

      <li>
        <a class='normal' href="/assets/files/test-file-download.txt" download>
          <div class="document">
            <div class="document__item document__item--2 active">
              <h3 class="document__title">Труба электросварная круглая</h3>
              <div class="document__desc">
                <p>ГОСТ 10704-91</p>
                <p>ГОСТ 10705-80</p>
                <p>ГОСТ 20295-85</p>
              </div>
            </div>
          </div>
        </a>
        <div class='info'>
          <img src="/assets/img/icons/PDF.png" alt="">
          <p>Скачать  каталог продукции</p>
        </div>
      </li>

      <li>
        <a class='normal' href="/assets/files/test-file-download.txt" download>
          <div class="document">
            <div class="document__item document__item--3 active">
              <h3 class="document__title">Труба электросварная круглая</h3>
              <div class="document__desc">
                <p>ГОСТ 10704-91</p>
                <p>ГОСТ 10705-80</p>
                <p>ГОСТ 20295-85</p>
              </div>
            </div>
          </div>
        </a>
        <div class='info'>
          <img src="/assets/img/icons/PDF.png" alt="">
          <p>Скачать  каталог продукции</p>
        </div>
      </li>

      <li>
        <a class='normal' href="/assets/files/test-file-download.txt" download>
          <div class="document">
            <div class="document__item document__item--4 active">
              <h3 class="document__title">Труба электросварная круглая</h3>
              <div class="document__desc">
                <p>ГОСТ 10704-91</p>
                <p>ГОСТ 10705-80</p>
                <p>ГОСТ 20295-85</p>
              </div>
            </div>
          </div>
        </a>
        <div class='info'>
          <img src="/assets/img/icons/PDF.png" alt="">
          <p>Скачать  каталог продукции</p>
        </div>
      </li>

      <li>
        <a class='normal' href="/assets/files/test-file-download.txt" download>
          <div class="document">
            <div class="document__item document__item--5 active">
              <h3 class="document__title">Труба электросварная круглая</h3>
              <div class="document__desc">
                <p>ГОСТ 10704-91</p>
                <p>ГОСТ 10705-80</p>
                <p>ГОСТ 20295-85</p>
              </div>
            </div>
          </div>
        </a>
        <div class='info'>
          <img src="/assets/img/icons/PDF.png" alt="">
          <p>Скачать  каталог продукции</p>
        </div>
      </li>

      <li>
        <a class='normal' href="/assets/files/test-file-download.txt" download>
          <div class="document">
            <div class="document__item document__item--6 active">
              <h3 class="document__title">Труба электросварная круглая</h3>
              <div class="document__desc">
                <p>ГОСТ 10704-91</p>
                <p>ГОСТ 10705-80</p>
                <p>ГОСТ 20295-85</p>
              </div>
            </div>
          </div>
        </a>
        <div class='info'>
          <img src="/assets/img/icons/PDF.png" alt="">
          <p>Скачать  каталог продукции</p>
        </div>
      </li>

      <li>
        <a class='normal' href="/assets/files/test-file-download.txt" download>
          <div class="document">
            <div class="document__item document__item--7 active">
              <h3 class="document__title">Труба электросварная круглая</h3>
              <div class="document__desc">
                <p>ГОСТ 10704-91</p>
                <p>ГОСТ 10705-80</p>
                <p>ГОСТ 20295-85</p>
              </div>
            </div>
          </div>
        </a>
        <div class='info'>
          <img src="/assets/img/icons/PDF.png" alt="">
          <p>Скачать  каталог продукции</p>
        </div>
      </li>

      <li>
        <a class='normal' href="/assets/files/test-file-download.txt" download>
          <div class="document">
            <div class="document__item document__item--1 active">
              <h3 class="document__title">Труба электросварная круглая</h3>
              <div class="document__desc">
                <p>ГОСТ 10704-91</p>
                <p>ГОСТ 10705-80</p>
                <p>ГОСТ 20295-85</p>
              </div>
            </div>
          </div>
        </a>
        <div class='info'>
          <img src="/assets/img/icons/PDF.png" alt="">
          <p>Скачать  каталог продукции</p>
        </div>
      </li>

    </ul>

</section>





