<section class="feedback-wrapper">

  <div class="feedback">
    <div class="row no-gutters">

      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="feedback__left">
          <h3> Оставьте заявку</h3>
          <p>Оставьте ваш запрос и наш менеджер <br>свяжется с вами</p>
          <button class="btn btn--blue btn--medium">Трубный калькулятор</button>
          <button class="btn btn--blue btn--medium">Логистический калькулятор</button>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-8">
        <div class="feedback__right">

          <form action="">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-6">

                <div class="form-group error">
                  <label for="name" class="require"><span>Представьтесь</span></label>
                  <input type="text" id="name" value="Максим Иванович Голованов" required>
                </div>

                <div class="form-group">
                  <label for="email">Сообщение</label>
                  <input type="email" id="email" value="golovanov.mi@gmail.com">
                </div>

                <div class="form-group">
                  <label for="comment">Телефон или Email для связи</label>
                  <textarea name="" id="comment" cols="15" rows="5">Текст сообщения, заполняемый клиентом по желанию. Прикрепляется к заявке.</textarea>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="feedback__upload-file">
                  <i class="fa fa-download" aria-hidden="true"></i>
                  <p>Перетащите файл в область для прикрепления к сообщению</p>
                </div>
              </div>
            </div>
            <button type="submit" class="feedback__btn"><img src="/assets/img/icons/submit_icon.png" alt=""></button>
          </form>

        </div>
      </div>

    </div>
  </div>
</section>
