<section>
  <div id="lightgallery">
    <div class="row">
      <div class="col-3">
        <a class="item" href="/assets/img/bg/banner-bg.png">
          <img src="/assets/img/bg/banner-bg.png">
        </a>
      </div>

      <div class="col-3">
        <a class="item" href="/assets/img/bg/banner-bg.png">
          <img src="/assets/img/bg/banner-bg.png">
        </a>
      </div>

      <div class="col-3">
        <a class="item" href="/assets/img/bg/banner-bg.png">
          <img src="/assets/img/bg/banner-bg.png">
        </a>
      </div>

      <div class="col-3">
        <a class="item" href="/assets/img/bg/banner-bg.png">
          <img src="/assets/img/bg/banner-bg.png">
        </a>
      </div>
    </div>
  </div>

</section>
