<section class="list-standart-wrapper">
  <div class="list-standart">
    <div class="row">

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href='#' class="list-standart__item">
          <div class="list-standart__icon">
            <img src="/assets/img/icons/gost_icon_idle.png" alt="">
          </div>
          <div class="list-standart__title">Гост 10704-91</div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href='#' class="list-standart__item list-standart__item--active">
          <div class="list-standart__icon">
            <img src="/assets/img/icons/gost_icon_idle.png" alt="">
          </div>
          <div class="list-standart__title">Гост 10704-91</div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href='#' class="list-standart__item">
          <div class="list-standart__icon">
            <img src="/assets/img/icons/gost_icon_idle.png" alt="">
          </div>
          <div class="list-standart__title">Гост 10704-91</div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href='#' class="list-standart__item">
          <div class="list-standart__icon">
            <img src="/assets/img/icons/gost_icon_idle.png" alt="">
          </div>
          <div class="list-standart__title">Гост 10704-91</div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href='#' class="list-standart__item">
          <div class="list-standart__icon">
            <img src="/assets/img/icons/gost_icon_idle.png" alt="">
          </div>
          <div class="list-standart__title">Гост 10704-91</div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href='#' class="list-standart__item">
          <div class="list-standart__icon">
            <img src="/assets/img/icons/gost_icon_idle.png" alt="">
          </div>
          <div class="list-standart__title">Гост 10704-91</div>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href='#' class="list-standart__item">
          <div class="list-standart__icon">
            <img src="/assets/img/icons/gost_icon_idle.png" alt="">
          </div>
          <div class="list-standart__title">Гост 10704-91</div>
        </a>
      </div>

    </div>
  </div>
</section>
