<div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Оставить заявку</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Имя:</label>
          <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Введите ваше имя">
        </div>

        <div class="form-group">
          <label for="tel">Телефон:</label>
          <input type="text" class="form-control" id="tel" aria-describedby="emailHelp" placeholder="Введите ваше телефон">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn--blue">Отправить</button>
      </div>
    </div>
  </div>
</div>
