<section class="news">
  <div class="row no-gutters">

    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="news__item">
        <a href="#" class="news__link">Новости</a>
        <p class="news__date">11 декабря 2017</p>
        <h2 class="news__title">Ирбитский трубный завод освоил производство новой продукции</h2>
        <div class="news__desc">
          <p>На Ирбитском Трубном заводе успешно освоено производство продукции по ГОСТ 20295-85 «Трубы стальные сварные
            для магистральных газонефтепроводов».</p>
          <p>Вся продукция, успешно прошла испытания на соответствие требованиям ГОСТ 20295-85.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="news__item">
        <a href="#" class="news__link">Вакансии</a>
        <p class="news__date">10 декабря 2017</p>
        <h2 class="news__title">Приглашаем на работу</h2>
        <div class="news__desc">
          <p>Приглашаем на работу на должность главного инженера ответственного и опытного сотрудника.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <a href="#">
        <div class="news__item news__item--blue">

          <p class="news__date">5 февраля 2017</p>
          <div class="d-flex">
            <div class="news__img">
              <img src="/assets/img/pipes/pipe-2.png" alt="">
            </div>

            <div>
              <h2 class="news__title">Специальная цена на трубу</h2>
              <div class="news__desc">
                <p> Предлагаем из наличия трубу из-под крана № 17, длиной менее 6 метров:</p>
                <p>- труба круглая прямошовная, диаметром от 48 до 245 мм ГОСТ 10705,</p>
                <p>- труба мелкая профильная 46-60 мм ГОСТ 8645-68</p>
              </div>
            </div>
          </div>

        </div>
      </a>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="news__item">
        <a href="#" class="news__link">Новости</a>
        <p class="news__date">11 декабря 2017</p>
        <h2 class="news__title">Ирбитский трубный завод освоил производство новой продукции</h2>
        <div class="news__desc">
          <p>На Ирбитском Трубном заводе успешно освоено производство продукции по ГОСТ 20295-85 «Трубы стальные сварные
            для магистральных газонефтепроводов».</p>
          <p>Вся продукция, успешно прошла испытания на соответствие требованиям ГОСТ 20295-85.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="news__item">
        <a href="#" class="news__link">Вакансии</a>
        <p class="news__date">10 декабря 2017</p>
        <h2 class="news__title">Приглашаем на работу</h2>
        <div class="news__desc">
          <p>Приглашаем на работу на должность главного инженера ответственного и опытного сотрудника.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <a href="#">
        <div class="news__item news__item--blue">

          <p class="news__date">5 февраля 2017</p>
          <div class="d-flex">
            <div class="news__img">
              <img src="/assets/img/pipes/pipe-2.png" alt="">
            </div>

            <div>
              <h2 class="news__title">Специальная цена на трубу</h2>
              <div class="news__desc">
                <p> Предлагаем из наличия трубу из-под крана № 17, длиной менее 6 метров:</p>
                <p>- труба круглая прямошовная, диаметром от 48 до 245 мм ГОСТ 10705,</p>
                <p>- труба мелкая профильная 46-60 мм ГОСТ 8645-68</p>
              </div>
            </div>
          </div>

        </div>
      </a>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="news__item">
        <a href="#" class="news__link">Новости</a>
        <p class="news__date">11 декабря 2017</p>
        <h2 class="news__title">Ирбитский трубный завод освоил производство новой продукции</h2>
        <div class="news__desc">
          <p>На Ирбитском Трубном заводе успешно освоено производство продукции по ГОСТ 20295-85 «Трубы стальные сварные
            для магистральных газонефтепроводов».</p>
          <p>Вся продукция, успешно прошла испытания на соответствие требованиям ГОСТ 20295-85.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="news__item">
        <a href="#" class="news__link">Вакансии</a>
        <p class="news__date">10 декабря 2017</p>
        <h2 class="news__title">Приглашаем на работу</h2>
        <div class="news__desc">
          <p>Приглашаем на работу на должность главного инженера ответственного и опытного сотрудника.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">«</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item active"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">»</a></li>
      </ul>
    </div>
  </div>
</section>
