<div class="table-responsive">
  <table class="table ">
    <thead>
    <tr>
      <th scope="col">Толщина стенки, мм</th>
      <th scope="col">2</th>
      <th scope="col">3</th>
      <th scope="col">4</th>
      <th scope="col">5</th>
      <th scope="col">6</th>
      <th scope="col">7</th>
      <th scope="col">8</th>
      <th scope="col">9</th>
      <th scope="col">10</th>
      <th scope="col">11</th>
      <th scope="col">12</th>
    </tr>
    <tr>
      <th scope="col"> Размер трубы, мм</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">20x20</th>
      <td><a href="#"></a></td>
      <td></td>
      <td><a href="#"></a></td>
      <td><a href="#"></a></td>
      <td></td>
      <td><a href="#"></a></td>
      <td><a href="#"></a></td>
      <td></td>
      <td><a href="#"></a></td>
      <td><a href="#"></a></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">25x25</th>
      <td><a href=""></a></td>
      <td><a href=""></a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td><a href="#"></a></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">20x20</th>
      <td><a href="#"></a></td>
      <td></td>
      <td><a href="#"></a></td>
      <td><a href="#"></a></td>
      <td></td>
      <td><a href="#"></a></td>
      <td><a href="#"></a></td>
      <td></td>
      <td><a href="#"></a></td>
      <td></td>
      <td><a href="#"></a></td>
    </tr>
    <tr>
      <th scope="row">35x35</th>
      <td><a href=""></a></td>
      <td><a href=""></a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td><a href="#"></a></td>
      <td><a href="#"></a></td>
    </tr>
    <tr>
      <th scope="row">40x40</th>
      <td><a href="#"></a></td>
      <td></td>
      <td><a href="#"></a></td>
      <td><a href="#"></a></td>
      <td></td>
      <td><a href="#"></a></td>
      <td><a href="#"></a></td>
      <td></td>
      <td><a href="#"></a></td>
      <td><a href="#"></a></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
