<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>НТТЗ ИТЗ - О компании</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="/assets/css/app.min.css" rel="stylesheet">

</head>
<body>

<% include('partials/header.html'); %>
<% include('partials/sidebar-menu.html'); %>
<% include('components/banner.html'); %>
<% include('components/breadcrumbs.html'); %>

<div class="tabs-about-wrapper">
  <div class="container">
    <ul class="nav nav-tabs--about" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Нижнитагильский трубный завод
          Металлинвест</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Ирбитский трубный
          завод</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#references" role="tab" data-toggle="tab">Сертификаты</a>
      </li>
    </ul>
  </div>
</div>

<div class="tabs-content-about-wrapper">
  <div class="container">
    <div class="tab-content tab-content--about">
      <div role="tabpanel" class="tab-pane in active" id="profile">
        <% include('components/about.html'); %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="buzz">
        <% include('components/about.html'); %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="references">
        <% include('components/about.html'); %>
      </div>
    </div>
  </div>
</div>

<section class="text-format">
  <div class="container">
    <h2>О Нижнетагильском трубном заводе Металлинвест</h2>
    <p>Нижнетагильский трубный завод Металлинвест (НТТЗМ) - оснащен современным оборудованием по производству стальных
      электросварных труб, позволяющим производить трубу любой длины по желанию заказчика.</p>

    <p>
      <strong> Завод «НТТЗМ» производит трубы из углеродистых сталей С245, 3, 10, 20, ЗСП u низколегированных сталей
        С345, 09Г2С:</strong>
    </p>

    <ul>
      <li>квадратного сечения типоразмеров от 15*15 до 200*200 мм.</li>
      <li>прямоугольного сечения от 30*20 до 200*160 мм.</li>
      <li>круглого сечения диаметром от 57 до 219 мм.</li>
    </ul>

    <p>
      <stong>Электросварные трубы из стали 8 ПС:</stong>
    </p>

    <ul>
      <li>квадратного сечения от 20*20 до 40*40 мм.</li>
      <li>прямоугольного сечения от 30*20 до 80*40 мм.</li>
      <li>круглого сечения диаметром от 57 до 219 мм.</li>
    </ul>

    <p>По требованию заказчика предусмотрен выпуск труб в размер, удаление наружного u внутреннего грата с поверхности
      труб, а также нанесение антикоррозийного покрытия u цинкование.</p>

    <p>В 2014 г. Нижнетагильский Трубный завод Металлинвест запустил в эксплуатацию собственную линию по производству
      равнополочного швеллера, с толщиной стенки от 3 до 6 мм из различных марок стали (ст.3 СП 09Г2С). Швеллер
      производится на импортном оборудовании в соответствие ГОСТ 8278-83.</p>

    <p>Стабильно высокое качество готовых изделий обеспечивает не только современное оборудование, но u высоко
      квалифицированные специалисты прокатчики завода.</p>
  </div>
</section>

<% include('components/gallery.html'); %>
<% include('partials/footer.html'); %>
<% include('components/modal.html'); %>

<script src="/assets/js/all-js.min.js"></script>

</body>
</html>
