<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>НТТЗ ИТЗ - Контакты</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="/assets/css/app.min.css" rel="stylesheet">

</head>
<body>

<% include('partials/header.html'); %>
<% include('components/banner.html'); %>
<% include('components/breadcrumbs.html'); %>

<main class="main" role="main">
  <div class="container">
    <div class="contacts-wrapper">

      <div class="row no-gutters">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="contact">
            <div class="contact__city">г.Нижний Тагил</div>
            <div class="contact__info">
              <p>г. Нижний Тагил, ул. Долгая 5</p>
              <p>Тел: +7 (3435) 495-776, 8-800- 775-17- 87 (88,89) звонок бесплатный.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="contact">
            <div class="contact__city">г.Нижний Тагил</div>
            <div class="contact__info">
              <p>г. Нижний Тагил, ул. Долгая 5</p>
              <p>Тел: +7 (3435) 495-776, 8-800- 775-17- 87 (88,89) звонок бесплатный.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="contact">
            <div class="contact__city">г.Нижний Тагил</div>
            <div class="contact__info">
              <p>г. Нижний Тагил, ул. Долгая 5</p>
              <p>Тел: +7 (3435) 495-776, 8-800- 775-17- 87 (88,89) звонок бесплатный.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="contact">
            <div class="contact__address">
              <p>Адрес производства НТТЗ</p>
              <p>622021 Свердловская обл., г. Нижний Тагил, ул. Красных Зорь 7</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <div class="contact contact--blue-light">
            <div class="contact__address">
              <p>Адрес производства НТТЗ</p>
              <p>622021 Свердловская обл., г. Нижний Тагил, ул. Красных Зорь 7</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include('components/feedback.html'); %>
  </div>
</main>

<section class="text-format">
  <div class="container">
    <h2>О Нижнетагильском трубном заводе Металлинвест</h2>
    <p>Нижнетагильский трубный завод Металлинвест (НТТЗМ) - оснащен современным оборудованием по производству стальных
      электросварных труб, позволяющим производить трубу любой длины по желанию заказчика.</p>

    <p>
      <strong> Завод «НТТЗМ» производит трубы из углеродистых сталей С245, 3, 10, 20, ЗСП u низколегированных сталей
        С345, 09Г2С:</strong>
    </p>

    <ul>
      <li>квадратного сечения типоразмеров от 15*15 до 200*200 мм.</li>
      <li>прямоугольного сечения от 30*20 до 200*160 мм.</li>
      <li>круглого сечения диаметром от 57 до 219 мм.</li>
    </ul>

    <p>
      <stong>Электросварные трубы из стали 8 ПС:</stong>
    </p>

    <ul>
      <li>квадратного сечения от 20*20 до 40*40 мм.</li>
      <li>прямоугольного сечения от 30*20 до 80*40 мм.</li>
      <li>круглого сечения диаметром от 57 до 219 мм.</li>
    </ul>

    <p>По требованию заказчика предусмотрен выпуск труб в размер, удаление наружного u внутреннего грата с поверхности
      труб, а также нанесение антикоррозийного покрытия u цинкование.</p>

    <p>В 2014 г. Нижнетагильский Трубный завод Металлинвест запустил в эксплуатацию собственную линию по производству
      равнополочного швеллера, с толщиной стенки от 3 до 6 мм из различных марок стали (ст.3 СП 09Г2С). Швеллер
      производится на импортном оборудовании в соответствие ГОСТ 8278-83.</p>

    <p>Стабильно высокое качество готовых изделий обеспечивает не только современное оборудование, но u высоко
      квалифицированные специалисты прокатчики завода.</p>
  </div>
</section>

<% include('components/gallery.html'); %>
<% include('partials/footer.html'); %>

<script src="/assets/js/all-js.min.js"></script>

</body>
</html>
