<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>НТТЗ ИТЗ</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="/assets/css/app.min.css" rel="stylesheet">

</head>
<body>

<% include('includes/header.html'); %>

<section class="head-part-wrapper">
  <div class="container">
    <div class="row">
      <div class="head-part">
        <h1 class="head-part__title">Нижнетагильский Трубный Завод Металлинвест <br>Ирбитский трубный завод Металлинвест
        </h1>
        <button class="btn btn--blue btn--large head-part__btn">О заводе</button>
      </div>
    </div>
  </div>
</section>

<main class="main" role="main">
  <div class="container">

    <!--<% include('includes/sidebar.html'); %>-->
    <!--<% include('components/documents.html'); %>-->

    <!--<section>-->
      <!--<div class="row no-gutters">-->

        <!--<div class="col-6">-->
          <!--<div class="home">-->
            <!--<h2 class="home__title">Нижнетагильский Трубный Завод Металлинвест (НТТЗМ)</h2>-->
            <!--<div class="desc">-->
              <!--<p>Современное производственное предприятие, специализирующееся на-->
                <!--изготовлении стальных электросварные труб квадратного, прямоугольного и круглого сечения, а также гнутого швеллера.</p>-->
            <!--</div>-->
            <!--<h2 class="home__title">Ирбитский Трубный Завод Металлинвест (ИТЗМ)</h2>-->
            <!--<div class="desc">-->
              <!--<p>Производственное предприятие специализирующееся на изготовлении круглых электросварных труб среднего диаметра.</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-6">-->
          <!--<div class="home">-->
            <!--<h2 class="home__title">Нижнетагильский Трубный Завод Металлинвест (НТТЗМ)</h2>-->
            <!--<div class="desc">-->
              <!--<p>Современное производственное предприятие, специализирующееся на-->
                <!--изготовлении стальных электросварные труб квадратного, прямоугольного и круглого сечения, а также гнутого швеллера.</p>-->
            <!--</div>-->
            <!--<h2 class="home__title">Ирбитский Трубный Завод Металлинвест (ИТЗМ)</h2>-->
            <!--<div class="desc">-->
              <!--<p>Производственное предприятие специализирующееся на изготовлении круглых электросварных труб среднего диаметра.</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->
    <!--</section>-->

    <section>
      <div class="service">
        <div class="row">

          <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <div class="service__item">
              <div class="service__img">
                <img src="/assets/img/icons/icon2.png" alt="">
              </div>
              <p class="service__title">Широкий ассортимент трубы в наличии на складе</p>
            </div>
          </div>

          <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <div class="service__item">
              <div class="service__img">
                <img src="/assets/img/icons/icon2.png" alt="">
              </div>
              <p class="service__title">Изготовление трубы в размер</p>
            </div>
          </div>

          <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <div class="service__item">
              <div class="service__img">
                <img src="/assets/img/icons/icon2.png" alt="">
              </div>
              <p class="service__title">Минимальная монтажная норма 20 тонн</p>
            </div>
          </div>

          <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <div class="service__item">
              <div class="service__img">
                <img src="/assets/img/icons/icon2.png" alt="">
              </div>
              <p class="service__title">Широкий ассортимент трубы в наличии на складе</p>
            </div>
          </div>

          <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <div class="service__item">
              <div class="service__img">
                <img src="/assets/img/icons/icon2.png" alt="">
              </div>
              <p class="service__title">Изготовление трубы в размер</p>
            </div>
          </div>

          <div class="col-6 col-sm-6 col-md-4 col-lg-2">
            <div class="service__item">
              <div class="service__img">
                <img src="/assets/img/icons/icon2.png" alt="">
              </div>
              <p class="service__title">Минимальная монтажная норма 20 тонн</p>
            </div>
          </div>

        </div>

      </div>
    </section>

  </div>
</main>

<% include('includes/footer.html'); %>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.touchSwipe.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/app.min.js"></script>

</body>
</html>
