<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>НТТЗ ИТЗ - Главная</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="/assets/css/app.min.css" rel="stylesheet">

</head>
<body>

<% include('partials/header.html'); %>
<% include('partials/sidebar-menu.html'); %>

<section class="head-part-wrapper">
  <div class="container">
    <div class="row">
      <div class="head-part">
        <h1 class="head-part__title">Нижнетагильский Трубный Завод Металлинвест <br>Ирбитский трубный завод Металлинвест
        </h1>
        <button class="btn btn--blue btn--large head-part__btn">О заводе</button>
      </div>
    </div>
  </div>
</section>

<main class="main" role="main">
  <div class="container">

    <% include('components/documents.html'); %>

    <section class="home-wrapper">
      <div class="row no-gutters">

        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="home">
            <h2 class="home__title">Нижнетагильский Трубный Завод Металлинвест (НТТЗМ)</h2>
            <div class="home__desc">
              <p>Современное производственное предприятие, специализирующееся на
                изготовлении стальных электросварные труб квадратного, прямоугольного и круглого сечения, а также
                гнутого швеллера.</p>
            </div>
            <h2 class="home__title">Ирбитский Трубный Завод Металлинвест (ИТЗМ)</h2>
            <div class="home__desc">
              <p>Производственное предприятие специализирующееся на изготовлении круглых электросварных труб среднего
                диаметра.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <ul class="nav nav-tabs nav-tabs-home" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-item__link active" data-toggle="tab" href="#home" role="tab"
                 aria-controls="home">Новости</a>
            </li>
            <li class="nav-item">
              <a class="nav-item__link" data-toggle="tab" href="#profile" role="tab"
                 aria-controls="profile">Вакансии</a>
            </li>
            <li class="nav-item">
              <a class="v" data-toggle="tab" href="#messages" role="tab" aria-controls="messages">Статьи</a>
            </li>
          </ul>

          <div class="tab-content tab-content-home">
            <div class="tab-pane active" id="home" role="tabpanel">
              <div class="tab-content-home__info">
                <div class="tab-content-home__date">11 декабря 2017</div>
                <h3 class="tab-content-home__title">Ирбитский трубный завод освоил производство новой продукции</h3>
                <h3 class="tab-content-home__desc">
                  <p>На Ирбитском Трубном заводе успешно освоено производство продукции по ГОСТ 20295-85 «Трубы стальные
                    сварные для магистральных газонефтепроводов».</p>
                </h3>
              </div>
              <div class="tab-content-home__info tab-content-home__info--border">

                  <a href="#">
                    <div class="news__item">

                      <p class="news__date">5 февраля 2017</p>
                      <div class="d-flex">
                        <div class="news__img">
                          <img src="/assets/img/pipes/pipe-2.png" alt="">
                        </div>

                        <div>
                          <h2 class="news__title">Специальная цена на трубу</h2>
                          <div class="news__desc">
                            <p> Предлагаем из наличия трубу из-под крана № 17, длиной менее 6 метров:</p>
                            <p>- труба круглая прямошовная, диаметром от 48 до 245 мм ГОСТ 10705,</p>
                            <p>- труба мелкая профильная 46-60 мм ГОСТ 8645-68</p>
                          </div>
                        </div>
                      </div>

                    </div>
                  </a>

              </div>
            </div>

            <div class="tab-pane" id="profile" role="tabpanel">
              <div class="tab-content-home__info">
                <div class="tab-content-home__date">12 декабря 2017</div>
                <h3 class="tab-content-home__title">Ирбитский трубный завод освоил производство новой продукции</h3>
                <h3 class="tab-content-home__desc">
                  <p>На Ирбитском Трубном заводе успешно освоено производство продукции по ГОСТ 20295-85 «Трубы стальные
                    сварные для магистральных газонефтепроводов».</p>
                </h3>
              </div>
              <div class="tab-content-home__info tab-content-home__info--border">
                <div class="tab-content-home__date">12 декабря 2017</div>
                <h3 class="tab-content-home__title">Ирбитский трубный завод освоил производство новой продукции</h3>
                <h3 class="tab-content-home__desc">
                  <p>На Ирбитском Трубном заводе успешно освоено производство продукции по ГОСТ 20295-85 «Трубы стальные
                    сварные для магистральных газонефтепроводов».</p>
                  <p>Вся продукция, успешно прошла испытания на соответствие требованиям ГОСТ 20295-85.</p>
                </h3>
              </div>
            </div>

            <div class="tab-pane" id="messages" role="tabpanel">
              <div class="tab-content-home__info">
                <div class="tab-content-home__date">13 декабря 2017</div>
                <h3 class="tab-content-home__title">Ирбитский трубный завод освоил производство новой продукции</h3>
                <h3 class="tab-content-home__desc">
                  <p>На Ирбитском Трубном заводе успешно освоено производство продукции по ГОСТ 20295-85 «Трубы стальные
                    сварные для магистральных газонефтепроводов».</p>
                </h3>
              </div>
              <div class="tab-content-home__info tab-content-home__info--border">
                <div class="tab-content-home__date">13 декабря 2017</div>
                <h3 class="tab-content-home__title">Ирбитский трубный завод освоил производство новой продукции</h3>
                <h3 class="tab-content-home__desc">
                  <p>На Ирбитском Трубном заводе успешно освоено производство продукции по ГОСТ 20295-85 «Трубы стальные
                    сварные для магистральных газонефтепроводов».</p>
                  <p>Вся продукция, успешно прошла испытания на соответствие требованиям ГОСТ 20295-85.</p>
                </h3>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

  </div>
</main>

<div class="container">
  <section class="service">
    <div class="row">

      <div class="col-6 col-sm-6 col-md-4 col-lg-2">
        <div class="service__item">
          <div class="service__img">
            <img src="/assets/img/icons/icon2.png" alt="">
          </div>
          <p class="service__title">Широкий ассортимент трубы в наличии на складе</p>
        </div>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-2">
        <div class="service__item">
          <div class="service__img">
            <img src="/assets/img/icons/icon5.png" alt="">
          </div>
          <p class="service__title">Изготовление трубы в размер</p>
        </div>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-2">
        <div class="service__item">
          <div class="service__img">
            <img src="/assets/img/icons/icon6.png" alt="">
          </div>
          <p class="service__title">Минимальная монтажная норма 20 тонн</p>
        </div>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-2">
        <div class="service__item">
          <div class="service__img">
            <img src="/assets/img/icons/icon5.png" alt="">
          </div>
          <p class="service__title">Широкий ассортимент трубы в наличии на складе</p>
        </div>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-2">
        <div class="service__item">
          <div class="service__img">
            <img src="/assets/img/icons/icon2.png" alt="">
          </div>
          <p class="service__title">Изготовление трубы в размер</p>
        </div>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-2">
        <div class="service__item">
          <div class="service__img">
            <img src="/assets/img/icons/icon1.png" alt="">
          </div>
          <p class="service__title">Минимальная монтажная норма 20 тонн</p>
        </div>
      </div>

    </div>
  </section>
</div>

<% include('partials/footer.html'); %>
<% include('components/modal.html'); %>

<script src="/assets/js/all-js.min.js"></script>


</body>
</html>
