<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Gulp template</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/assets/css/style.min.css" rel="stylesheet">

</head>
<body>

<% include('includes/header.html'); %>

<main class="main" role="main">
  <% include('includes/content.html'); %>
  <% include('includes/sidebar.html'); %>
</main>

<% include('includes/footer.html'); %>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/app.min.js"></script>

</body>
</html>
