<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>НТТЗ ИТЗ - products</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="/assets/css/app.min.css" rel="stylesheet">

</head>
<body>

<% include('partials/sidebar.html'); %>
<% include('partials/header.html'); %>
<% include('components/banner.html'); %>
<% include('components/breadcrumbs.html'); %>

<div class="tabs-about-wrapper">
  <div class="container">
    <ul class="nav nav-tabs--about" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Труба электросварная круглая</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Труба профильная квадратная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#references" role="tab" data-toggle="tab">Труба профильная прямоугольная</a>
      </li>
    </ul>
  </div>
</div>

<div class="tabs-content-about-wrapper">
  <div class="container">
    <div class="tab-content tab-content--about">
      <div role="tabpanel" class="tab-pane in active" id="profile">

        <div class="product">

          <div class="col-6">
            <p><strong>Размеры:</strong> от 80х80 до 210х210мм</p>
            <p><strong>Толщина стенки:</strong> 3-22мм</p>
            <p><strong>Длина труб:</strong> от 6 до 18 метров и 20 метров (мерной и немерной длины)</p>
            <p><strong>Марка стали:</strong> углеродистые низколегированные стали</p>
          </div>

          <div class="col-6">
            <p>
              Трубы ГОСТа 10705-80 изготавливаются из углеродистой и низколегированной стали, применяемые для
              трубопроводов и конструкций различного назначения.
              Стандарт не распространяется на стальные трубы, применяемые для изготовления теплоэлектронагревателей.
              Производятся трубы с помощью метода электросварки, в результате чего между элементами сварки появляется
              шов – прямой или спиральной формы.
            </p>
          </div>

        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="buzz">
        content 2
      </div>
      <div role="tabpanel" class="tab-pane fade" id="references">
        content 3
      </div>
    </div>
  </div>
</div>

<main class="main" role="main">
  <div class="container">

    <% include('components/feedback.html'); %>

  </div>
</main>

<section class="text-format">
  <div class="container">

    <h2>Выделенное место под блок для СЕО</h2>
    <p>Равным образом новая модель организационной деятельности играет важную роль в формировании новых предложений.
      Значимость этих проблем настолько очевидна, что новая модель организационной деятельности позволяет оценить
      значение модели развития.</p>

    <p>Разнообразный и богатый опыт укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в
      формировании новых предложений. Повседневная практика показывает, что начало повседневной работы по формированию
      позиции требуют определения и уточнения модели развития. Повседневная практика показывает, что консультация с
      широким активом представляет собой интересный эксперимент проверки соответствующий условий активизации. Товарищи!
      консультация с широким активом позволяет выполнять важные задания по разработке позиций, занимаемых участниками в
      отношении поставленных задач. С другой стороны постоянный количественный рост и сфера нашей активности влечет за
      собой процесс внедрения и модернизации соответствующий условий активизации. Товарищи! постоянный количественный
      рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании направлений
      прогрессивного развития.</p>
  </div>
</section>

<% include('partials/footer.html'); %>

<script src="/assets/js/all-js.min.js"></script>

</body>
</html>
