<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>НТТЗ ИТЗ - Качество</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="/assets/css/app.min.css" rel="stylesheet">

</head>
<body>

<% include('partials/header.html'); %>
<% include('components/banner.html'); %>
<% include('components/breadcrumbs.html'); %>

<section class="text-format">
  <div class="container">
    <h2>Качество трубной продукции</h2>
    <p>НТТЗМ особое внимание уделяет качеству выпускаемой продукции.</p>
    <p>Осуществляя непрерывный контроль на протяжении всего производственного процесса,
      мы стремимся максимально удовлетворить потребность наших клиентов и партнеров в качественной трубной продукции.</p>
    <p>Трубы производятся в строгом соответствии с государственными и международными стандартами качества, и успешно поставляются нашим партнерам по всей территории РФ и страны СНГ.</p>
    <span><b>- Контроль качества сырья и расходных материалов.</b></span>
    <p>Рулонный прокат и все расходные материалы, используемые, для производства трубной продукции
      закупаются только у заводов - производителей, и имеют обязательные сертификаты соответствия, которые предоставляются нашим клиентам при отгрузке.</p>
    <span><b>- Контроль состояния оборудования.</b></span>
    <p>НТТЗМ оснащен современным высокотехнологичным оборудованием европейского производства марок Adda Fer и Yawei.
      Ежемесячно на заводе проводится плановое техническое обслуживание оборудования и контрольные испытания. Эти мероприятия
      озволяют не только поддерживать высокий уровень качества выпускаемых труб, но и наращивать объемы производства за счет бесперебойной работы станов.</p>
    <span><b>- Соответствие качества продукции государственным и международным стандартам</b></span>
    <p>Выпуск продукции строго соответствует регламентам, установленными ГОСТ РФ, о чем свидетельствуют сертификаты, в обязательном порядке предоставляемые при отгрузке.</p>
    <p>Качество продукции поставляемой на экспорт подтверждается обязательной выдачей сертификатов международного образца, соответствующих ISO 9001:2001.</p>
    <span>- Система контроля качества готовой продукции</span>
    <p>С целью исключения вероятности выпуска бракованной продукции на заводе действует система контроля качества труб с п
      рименением различных современных приборов и установок: неразрушающий токовихревой контроль сварного шва, испытания на растяжение, гидравлические испытания и т.д.</p>
    <p>Контрольные испытания проводятся в собственной лаборатории НТТЗМ.</p>
    <p> Дополнительно вся трубная продукция проходит антикоррозионную обработку специализированными составами СОЖ, </p>
    что позволяет осуществлять длительное складское хранение готовой продукции без риска снижения качества.</p>
  </div>
</section>

<% include('partials/footer.html'); %>
<% include('components/modal.html'); %>

<script src="/assets/js/all-js.min.js"></script>

</body>
</html>
