<header class="header">

  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="header__info">
            <a href="tel:8(3435)495-776" class="header__phone">8 (3435) 495-776</a>
            <a href="mailto:info@nttzm.ru" class="header__mail">info@nttzm.ru</a>

            <div class="header__search">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>

            <div class="header__auth">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>

            <div class="header__callback-button">
              <button class="btn btn--blue">Оставить заявку</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="header__bot">
    <div class="container">
      <div class="row">

        <div class="col-12">
          <div class="header__nav-bar">
            <div class="header__logo">
              <a href="/home.html"><img src="/assets/img/logo.png" alt="logo"></a>
              <p class="hidden">НТТЗ ИНЗ</p>
            </div>

            <nav class="nav__menu" role="nav__menuigation">
              <ul class="nav__menu__list">
                <li class="nav__menu__item nav__menu__item--active">
                  <a href="/">О заводе</a>
                </li>
                <li class="nav__menu__item"><a href="/">Продукция</a></li>
                <li class="nav__menu__item"><a href="/">Новости и акции</a></li>
                <li class="nav__menu__item"><a href="/">Качество продукции</a></li>
                <li class="nav__menu__item"><a href="/">Контакты</a></li>
              </ul>
            </nav>
          </div>
        </div>


      </div>
    </div>
  </div>

</header>


