<div class="mobile-menu">
  <div id="sidebar">
    <div class="sidebar__logo">
      <img src="/assets/img/logo.png" alt="logo">
    </div>
    <ul class="sidebar__list">
      <li class="sidebar__item sidebar__item--active">
        <a href="/">О заводе</a>
      </li>
      <li class="sidebar__item"><a href="/">Продукция</a></li>
      <li class="sidebar__item"><a href="/">Новости и акции</a></li>
      <li class="sidebar__item"><a href="/">Качество продукции</a></li>
      <li class="sidebar__item"><a href="/">Контакты</a></li>
    </ul>
  </div>

  <div class="main-content">

    <div class="swipe-area"></div>

    <a href="#" data-toggle=".mobile-menu" id="sidebar-toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>

  </div>
</div>
