<div class="sidebar-menu">
  <div class="sidebar-menu__logo">
    <img src="/assets/img/logo.png" alt="logo">
  </div>
  <div class="sidebar-menu__search">
    <input type="search" placeholder="Поиск ...">
  </div>
  <ul class="sidebar-menu__list">
    <li class="sidebar-menu__item sidebar-menu__item--active">
      <a href="/">О заводе</a>
    </li>
    <li class="sidebar-menu__item"><a href="/">Продукция</a></li>
    <li class="sidebar-menu__item"><a href="/">Новости и акции</a></li>
    <li class="sidebar-menu__item"><a href="/">Качество продукции</a></li>
    <li class="sidebar-menu__item"><a href="/">Контакты</a></li>
  </ul>
</div>

<div class="ssm-overlay ssm-toggle-nav"></div>
